input { 
  redis {
    host => "127.0.0.1"
    key => "file-output-queue" 
    data_type => "list"
    codec => "json"
    db => "2"
  }
}

filter {
  geoip {
    source => "source_ip"
  }
}

output {
  elasticsearch { host => "127.0.0.1" }
}

