# SPDX-FileCopyrightText: 2014-2021 Tomás Lima, Aaron Kaplan, Sebastian Wagner
#
# SPDX-License-Identifier: CC0-1.0

*.bak
*.swp
*.pyc
*.log
*.*~
*.mmdb
*.profile
.vscode/
.profile
intelmq.egg-info
build
dist
*.old
.vagrant/
*~
.coverage
coverage.xml
.idea/
htmlcov/
*.pem
*.key
src/
.eggs
.secrets

# sphinx
docs/source
docs/_build
docs/user/feeds.rst
docs/dev/harmonization-fields.rst

# Debian build filed
debian/files
debian/intelmq.postinst.debhelper
debian/intelmq.prerm.debhelper
debian/intelmq.substvars
debian/intelmq/
/.pc/*
/cover/
