# SPDX-FileCopyrightText: 2016-2021 Sebastian Wagner
#
# SPDX-License-Identifier: CC0-1.0

graft contrib
graft docs
graft intelmq
include COPYRIGHT
include LICENSE
include CHANGELOG.md
exclude intelmq/bin/rewrite_config_files.py
exclude .*
global-exclude *~
global-exclude *.py[co]
global-exclude __pycache__
