# SPDX-FileCopyrightText: 2016 Sebastian Wagner
# SPDX-License-Identifier: AGPL-3.0-or-later

geoip2>=2.2.0; python_version >= '3.6'
geoip2>=2.2.0,<4.0.0; python_version < '3.6'
maxminddb<2; python_version < '3.6'
