# SPDX-FileCopyrightText: 2025 Institute for Common Good Technology
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Periodically start all enabled IntelMQ bots

[Timer]
# run every 5 minutes
OnUnitActiveSec=5minutes
Unit=intelmq-start.service
Persistent=true

[Install]
WantedBy=multi-user.target timers.target
