server {
  listen 8080;
  server_name intelmq;
  client_max_body_size 50M;
  
  root {{ intelmq.manager.path }};
  access_log /var/log/nginx/intelmq_access.log;
  error_log  /var/log/nginx/intelmq_errors.log;
  index index.php index.html index.htm;

  location / {
        try_files $uri $uri/ =404;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root {{ intelmq.manager.path }};
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }



    satisfy any;
{% for item in intelmq.manager.allowed_addresses %}
    allow {{ item }};
{% endfor %}
    deny all;
    auth_basic "Authentication Required";
    auth_basic_user_file conf.d/.intelmq.htpasswd;
}
