Source: intelmq
Maintainer: Sebastian Wagner <wagner@cert.at>
Section: python
Priority: optional
Build-Depends: debhelper (>= 4.1.16), python3-all, python3-setuptools, quilt, dh-python, python-setuptools, dh-systemd, safe-rm, python3-requests, python3-redis, python3-dnspython, python3-psutil, python3-dateutil, python3-termstyle, python3-tz, lsb-release
X-Python3-Version: >= 3.4
Standards-Version: 3.9.6
Homepage: https://github.com/certtools/intelmq/

Package: intelmq
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-dateutil (>= 2.5), python3-dnspython (>= 1.11.1),
 python3-openssl, python3-psutil (>= 1.2.1), python3-redis (>= 2.10),
 python3-requests (>= 2.2.1), python3-termstyle (>= 0.1.10), python3-tz,
 redis-server, cron, bash-completion, jq, systemd
Suggests: python3-imbox (>= 0.8), python3-pyasn (>= 1.5.0),
 python3-stomp.py (>= 4.1.9), python3-sleekxmpp (>= 1.3.1),
 python3-geoip2 (>= 2.2.0), python3-pymongo, python3-psycopg2
Description: IntelMQ is a solution for IT security teams (CERTs, CSIRTs, abuse
 departments,...) for collecting and processing security feeds (such as log
 files) using a message queuing protocol. It's a community driven initiative
 called IHAP (Incident Handling Automation Project) which was conceptually
 designed by European CERTs/CSIRTs during several InfoSec events. Its main goal
 is to give to incident responders an easy way to collect & process threat
 intelligence thus improving the incident handling processes of CERTs.
