# SPDX-FileCopyrightText: 2020 Birger Schacht
#
# SPDX-License-Identifier: AGPL-3.0-or-later

Sphinx>=3.2.1
dnspython>=1.11.1
psutil>=1.2.1
python-dateutil>=2.5
python-termstyle>=0.1.10
pytz>=2012c
redis>=2.10
requests>=2.2.0
ruamel.yaml
