name: "Build and upload docker image"

on:
  push:
    branches: ['develop']

jobs:
  docker:
    name: Building Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout IntelMQ-Docker
        uses: actions/checkout@v2
        with:
          ref: 'main'
          repository: certat/intelmq-docker
          path: ./work

      - name: Checkout IntelMQ-Manager
        uses: actions/checkout@v2
        with:
          ref: 'develop'
          repository: certtools/intelmq-manager
          path: ./work/intelmq-manager

      - name: Checkout IntelMQ-API
        uses: actions/checkout@v2
        with:
          ref: 'develop'
          repository: certtools/intelmq-api
          path: ./work/intelmq-api

      - name: Checkout IntelMQ
        uses: actions/checkout@v2
        with:
          ref: 'develop'
          path: ./work/intelmq

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install python build requirements
        run: |
          pip3 install mako

      - name: Build
        run: |
          cd work
          ./build.sh

      - name: Test
        run: |
          cd work
          ./test.sh

      - name: Publish develop version to dockerhub
        run: |
          docker tag intelmq-full:latest certat/intelmq-full:develop
          docker push certat/intelmq-full:develop
